app = "barbershop-api"
primary_region = "cdg"

[build]
  builder = "heroku/buildpacks:20"

[[services]]
  internal_port = 5000
  protocol = "tcp"
  processes = ["app"]

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    interval = "30s"
    timeout = "5s"
    method = "get"
    path = "/api/test"